[submodule "libs/OrientDB-PHP"]
	path = libs/OrientDB-PHP
	url = https://github.com/AntonTerekhov/OrientDB-PHP.git
[submodule "libs/orient"]
	path = libs/orient
	url = https://github.com/congow/Orient.git
[submodule "js/sigma"]
	path = js/sigma
	url = https://github.com/jacomyal/sigma.js.git
[submodule "libs/amon-php"]
	path = libs/amon-php
	url = https://github.com/martinrusev/amon-php.git
[submodule "libs/Yaml"]
	path = libs/Yaml
	url = git://github.com/symfony/Yaml.git
