
.abouttext {
    font-size: 1.3em;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 120%;
}

.abouttext p{
    padding-bottom: 5px;
}

.abouttext a {
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    padding: 2px 2px 2px 2px;

}

.abouttext a:hover {
    color: #111111;
    background-color: #FFFFFF;

}

#bigmap {
	background-color: #ffffb3;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}


.ducknum {
    color: #aa0000;
    font-weight: bold;
    font-size: 24px;

}

#friendpic {
	padding-top: 3px;
}

#friendpic img {
    padding: 3px 3px 3px 3px;
    border: 1px #444444 solid;
}

.hugeducknum {
    color: #aa0000;
    font-weight: bold;
    font-size: 92px;

}

#hd {
    width: 100%;
    height: 30px;
    padding-left: 20px;
    padding-top: 10px;
}


#hd a {
    color: #111111;
    font-size: 13px;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;

}

#hd a:hover {
    color: #FFFFFF;
    background-color: #000000;

}

.errorlist {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffe6e1;
    border: 1px solid #a01a00;
}


div.centerize {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}


.finder_row {
    display: block;
	padding: 5px 10px 5px 10px;
    font-size: 1.1em;
}

.finder_row a {
    color: black;
    text-decoration: underline;
}

.finder_row a:hover {
    text-decoration: none;
}

.required{
	background-color: #ffffe3;
	border: 1px #444444 solid;
	padding: 5px 10px 5px 10px;
	margin-bottom: 3px;
	font-size: 14px;
    font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 100px;
}

.required:hover {
	background-color: #ffffb3;
	}

.required:focus {
	background-color: #ffffb3;
	cursor:text;
	}


.olControlAttribution { bottom: 0px!important }
#map {
	background-color: #ffffb3;
    width: 450px;
    height: 350px;
    border: 1px solid black;
}



.row_required{
	background-color: #ffffe3;
	border: 1px #444444 solid;
	padding: 5px 10px 5px 10px;
	margin-bottom: 3px;
	font-size: 14px;
    font-weight: bold;
	text-decoration: none;
	width: 350px;
}

.row_required:hover {
	background-color: #ffffb3;
	}

.row_required:focus {
	background-color: #ffffb3;
	cursor:text;
	}


.textbox_required{
	background-color: #ffffe3;
	border: 1px #444444 solid;
	padding: 5px 10px 5px 10px;
	margin-bottom: 3px;
	font-size: 14px;
    font-weight: bold;
	text-decoration: none;
    height: 80px;
	width: 350px;
}

.textbox_required:hover {
	background-color: #ffffb3;
	}

.textbox_required:focus {
	background-color: #ffffb3;
	cursor:text;
	}


.title {
    background-color: #cccccc;
    font-size: 1.6em;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.title a {
    color: #000000;
    background-color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;

}

#friend {
	padding-top: 10px;
}

#friend img {
    border: 1px #444444 solid;
}
.yui-g {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.yui-gb {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.yui-g label{
	display: block;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 5px;
}
